<!DOCTYPE html>
<html>
    <head>
        <title>Colon Cancer Stage Detector </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
               <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="symptoms.html">Symptoms</a></li>
                    <li><a href="actions.html">Actions</a></li>
                </ul>
            </div>
        </div>
        <div class="symptoms">
            <h1>Actions to be taken:</h1>
            <h2>The colon cancer is divided into 4 stages:</h2>

                <p>Stage I : Tumor is in the wall of the colon and has grown only into the inner surface of the colon wall. </p>
                <p>Stage II : Tumor has grown through the muscle layer in the wall of the colon.</p>
                <p>Stage III : Cancer has spread to regional lymph nodes in the abdomen around the colon. </p>
                <p>Stage IV : Cancer has spread to other parts of the body (soft tissue organs like liver or lung, distant lymph nodes, or bones). </p>


            <h3>Next steps after staging: </h3>
                <p>Often for stage I, II or III colon cancers, the exact stage is determined after surgery to remove the cancer.
                    After the cancer stage is determined,
                    your care team will discuss their recommended treatment plan. Colorectal cancer treatments can include Chemotherapy, Immunotherapy or Radiation therapy. </p>


        </div>

    </body>
</html>   