<!DOCTYPE html>
<html>
    <head>
        <title>Colon Cancer Stage Detector </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="symptoms.html">Symptoms</a></li>
                    <li><a href="actions.html">Actions</a></li>
                </ul>
            </div>
        </div>
        <div class="contents">
            <h1>Colon Cancer Stage Detector</h1>
            <p>
                Your guide to understand and know the current stage of the colon cancer.</p>
            
            <div>
                <a href="prediction.html">
                    <button><span></span> START</button>
                </a>
            
            </div>

        </div>

    </body>
</html>    