<!DOCTYPE html>
<html>
    <head>
        <title>Colon Cancer detector </title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
               <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="symptoms.html">Symptoms</a></li>
                    <li><a href="actions.html">Actions</a></li>
                </ul>
            </div>
        </div>
        <div class="symptoms">
            <h1>Colon Cancer Symptoms</h1>
            <h2>Signs and symptoms of colon cancer include:</h2>

               <p>1- A persistent change in your bowel habits, including diarrhea or constipation or a change in the consistency of your stoolRectal bleeding or blood in your stool. </p>
                <p>2- Persistent abdominal discomfort, such as cramps, gas or pain. </p>
                <p>3- A feeling that your bowel doesn't empty completely. </p>
                <p>4- Weakness or fatigue. </p>
                <p>5- Unexplained weight loss. </p>

            <h3>When to see a doctor ? </h3>
                <p>If you notice any persistent symptoms that worry you, make an appointment with your doctor.
                    Talk with your doctor about when to begin colon cancer screening.
                     Guidelines generally recommend that colon cancer screenings begin around 50. 
                     Your doctor may recommend more frequent or earlier screening if you have other risk factors,
                     such as a family history of the disease. 
                </p>   
                
        </div>

    </body>
</html>   